body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}




.navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 10; /* Sørger for at navbaren er over alt annet */
}

.navbar .logo {
    width: 140px;
    height: auto;
    padding: 20px 100px;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 6px 13px;
    text-decoration: none;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: red;
    border-radius: 2px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin-top: 120px; /* Sørger for at diagrammene ikke går under navbaren */
    z-index: 1;
    position: relative; /* Gjør at innholdet vises over bakgrunnen */
}

.chart-item {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Tre på rad */
    min-width: 250px;
    text-align: center;
}

canvas {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 14px;
    margin-bottom: 10px;
}
